.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
}
.form-control{
    width: 250px;
    margin: 10px 0px;
}
.btn{
    margin-top: 10px;
}
