*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    position: relative;
    height: 100vh;
.tabs{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 200px;
    top: 150px;
    height: 100%;
    
    
    
    .tab{
        margin-left: 100px;
        background-color: lightcoral;
        width: 100px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: none;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        
    }
}

.cards{
    width: 400px;
    height: 200px;
    
  .card{
    
    width: 700px;
    height: 200px;
    background-color: lemonchiffon;
    position: absolute;
    left: 300px;
    top: 200px;
    display: flex;
    align-items: center;
    img{
        height: 200px;
        width: auto;
        

    }
   
    
  }
 
}
}